In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [23]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
# Player Count
# Display total number of players
playerlist = purchase_df["SN"].unique()
total_player_dict = {"Total Players": [len(playerlist)]}
total_player = pd.DataFrame(total_player_dict)
total_player

   Total Players
0            576

In [25]:
# Purchasing Analysis
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
unique_items = purchase_df["Item ID"].nunique()
average_price = purchase_df["Price"].mean()
purchase_count = purchase_df["Price"].count()
total_revenue = purchase_df["Price"].sum()
purchasing_analysis = purchase_df[["Number of Unique Items":unique_items, "Average Price":average_price, "Number of Purchases":purchase_count, "Total Revenue":total_revenue]]

SyntaxError: invalid syntax (<ipython-input-25-55489a073c02>, line 9)

In [ ]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed