In [58]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [59]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [60]:
# Player Count
# Display total number of players
playerlist = purchase_df["SN"].unique()
total_player_dict = {"Total Players": [len(playerlist)]}
total_player = pd.DataFrame(total_player_dict)
total_player

   Total Players
0            576

In [61]:
# Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
unique_items = purchase_df["Item ID"].nunique()
average_price = purchase_df["Price"].mean()
purchase_count = purchase_df["Price"].count()
total_revenue = purchase_df["Price"].sum()
purchasing_analysis = pd.DataFrame([{"Number of Unique Items":unique_items,
                                     "Average Price":average_price,
                                     "Number of Purchases":purchase_count,
                                     "Total Revenue":total_revenue
                                     }])
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [62]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

no_duplicate_SN = purchase_df.copy()
no_duplicate_SN.drop_duplicates(subset="SN", keep='first', inplace=True) # drop duplicated SN but keep the first one
gender_count = no_duplicate_SN["Gender"].value_counts()
gender_percentage = gender_count / len(playerlist) * 100
gender_demographics = pd.DataFrame({"Total Count":gender_count, "Percentage of Players":gender_percentage,})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [63]:
# Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
gender_analysis = purchase_df.groupby(["Gender"])
gender_purchase_count = purchase_df["Gender"].value_counts() # Purchase Count
total_purchase_by_gender = gender_analysis["Price"].sum() # Total Purchase Value
gender_average = gender_analysis["Price"].mean() # Average Purchase Price

purchasing_analysis_gender = pd.DataFrame({ "Purchase Count" : gender_purchase_count, 
                                            "Average Purchase Price" : gender_average,
                                            "Total Purchase Value" : total_purchase_by_gender})
purchasing_analysis_gender["Average Purchase Price"] = purchasing_analysis_gender["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_gender["Total Purchase Value"] = purchasing_analysis_gender["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_gender

# need to revisit to figure out avg total purchase per person

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

In [69]:
# Age Demographics
# Establish bins for ages
    # Use Max and Min to help define the bins
    # max_age = max(purchase_df["Age"])
    # min_age = min(purchase_df["Age"])
    # print(f"Max Age: {max_age}, Min Age: {min_age}"")
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# age_bined_purchase_df = purchase_df.copy() # I don't want to mess with original data frame
no_duplicate_SN[" "] = pd.cut(no_duplicate_SN["Age"], age_bins, labels=group_names, include_lowest=True) # Remember to use no duplicate
age_purchase_count = no_duplicate_SN[" "].value_counts()
age_percentage = age_purchase_count / len(playerlist) * 100
age_demographics = pd.DataFrame({"Total Count":age_purchase_count, "Percentage of Players":age_percentage})
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

age_demographics.sort_index() # Need to figure why this works

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [65]:
# Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [66]:
# Top Spenders
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [67]:
# Most Popular Items
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [68]:
# Most Profitable Items
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame