In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [57]:
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score 
# Calculate the average reading score
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

number_schools = school_data_complete["school_name"].nunique()
number_student = school_data_complete["student_name"].count()
total_budget = school_data_complete["budget"].unique().sum()
math_avg = school_data_complete["math_score"].mean()
reading_avg = school_data_complete["reading_score"].mean()
math_pass_per = (school_data_complete["math_score"] >= 70).sum() / number_student * 100
reading_pass_per = (school_data_complete["reading_score"] >= 70).sum() / number_student * 100
overall_pass = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70), ["student_name"]]
overall_pass_per = overall_pass["student_name"].count() / number_student * 100
overall_pass_per


district_summary = pd.DataFrame({"Total Schools" : number_schools,
                                 "Total Students" : number_student,
                                 "Total Budget" : total_budget,
                                 "Average Math Score" : math_avg,
                                 "Average Reading Score" : reading_avg,
                                 "% Passing Math" : math_pass_per,
                                 "% Passing Reading" : reading_pass_per,
                                 "% Overall Passing" : [overall_pass_per]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326